.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login {
  text-align: center;
  float:left;
  display:block;
}

.windowContainer-login {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: rgb(22, 43, 59);
  width: 500px;
  height: 700px;
  margin-left: 500px;
  margin-top: 40px;
}

.logoContainer-login {
  float:left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.formContainer-login {
  float:left;
  display:block;
  position: relative;
  margin-left: 80px;
  width: 300px;
  height: 500px;
}

.login-form {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 100px;
  float:left;
  display:block;
  width: 50%;
  position: relative;
  height: 80%;
  margin: 20%;
}

.input-login {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 20px;
  padding: 10px 30px;
  border: 0 solid #b7b7b7;
  border-bottom: 1px solid rgb(252, 249, 249);
  font: normal 16px/normal Tahoma, Geneva, sans-serif;
  color: rgb(252, 249, 249);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: transparent;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  float:left;
  width: 280px;
}

.input-login#username {
  background-image:url(./userIcon.png);
  background-repeat:no-repeat;
  background-position:6px;
  background-size: 14px; 
}
.input-login#password {
  background-image:url(./psswrdIcon.png);
  background-repeat:no-repeat;
  background-position:6px;
  background-size: 14px; 
}

.input-login::placeholder {
  color:rgb(202, 199, 199);
  opacity: 1;
}

.input-button-login {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 41px;
  border-radius: 41px;
  font: normal 16px/normal Tahoma, Geneva, sans-serif;
  color: rgb(22, 43, 59);
  text-align: center;
  width: 100%;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(215, 223, 215);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  float:left;
  width: 300px;
}

.input-button-login:focus {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background:rgb(241, 241, 241);
  -webkit-box-shadow: 3px 3px 5px 0 rgba(90,90,90,1) ;
  box-shadow: 3px 3px 5px 0 rgba(90,90,90,1) ;
  width: 300px;
}

input:focus {
  outline: none;
}

/*
.inputLogin {
  cursor: text;
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.2;
  padding: 0 2px;
}*/

.errorMessage {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 12px/normal Tahoma, Geneva, sans-serif;
  color: rgba(255,255,255,1);
  text-align: justify;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(249,114,114,0.75);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3) ;
}

.errorMessage#login {
  width: 310px;
}

.link-login {
  font: normal 12px/normal Tahoma, Geneva, sans-serif;
  color: rgb(179, 176, 176);
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 32%;
}
